.topnav {
    background-color: #cc6c5c;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
   }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 90px;
    text-decoration: none;
    font-size: 28px;
    
    
  }
  

  .topnav a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    
    
  }

  

h1 {
  text-align: center;
  font-size: 30px;
  background-color: #cc6c5c;
  border-radius: 20px;
  display: inline-block;  
  padding: 10px 20px;  
  color: #f2f2f2;
  
}

body {
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  cursor: auto;
    cursor: url("icons8-cursor-30.png"), auto;
}


.content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}



iframe {
  display: block;
  margin: 20px auto;
}


#gifText, #logoImage{
  margin: 0;
  padding: 0; 

}


.header {
  display: flex;
  justify-content: center; /* Centers the elements horizontally */
  align-items: center;  

}

.header {
  display: flex;
  

}

body {
  background: rgb(245,242,235);
  background: linear-gradient(90deg, rgba(245,242,235,1) 0%, rgba(251,245,234,1) 40%, rgba(248,239,224,1) 98%);
}
#logoImage{
  width: 400px;
  height: auto;
  }

  .Line{
      text-align: center;
      height: 120px;
      margin-top: 25px; 
      
    }
  
    .section {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      
    }

.cricket-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}
.text-content {
  flex: 1;
}
.text-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

iframe {
  display: block;
  margin: 40px auto;
  border-radius: 10px;
}